<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ssm.blog.dao.BlogDao">

	<resultMap type="Blog" id="BlogResult">
		<id property="id" column="id"/>
		<result property="title" column="title"/>
		<result property="summary" column="summary"/>
		<result property="releaseDate" column="releaseDate"/>
		<result property="clickHit" column="clickHit"/>
		<result property="replyHit" column="replyHit"/>
		<result property="content" column="content"/>
		<result property="keyWord" column="keyWord"/>
		
		<association property="blogType" column="type_id" select="ssm.blog.dao.BlogTypeDao.findById">
		</association>
	</resultMap>
	
	
	<select id="getBlogData" resultMap="BlogResult">
		  SELECT 
		    DATE_FORMAT(releaseDate,'%Y年%m月') AS releaseDateStr,
		    COUNT(*) AS blogCount
		  FROM
		    t_blog 
		  GROUP BY DATE_FORMAT(releaseDate,'%Y年%m月')
		  ORDER BY releaseDate DESC
	</select>
	
	<select id="listBlog" parameterType="Map" resultMap="BlogResult">
		 SELECT * FROM t_blog 
		 <where>
			<if test="title!=null and title!=''">
		 		and title like #{title}
		 	</if>
		 	<if test="typeId!=null and typeId!=''">
		 		and type_id=#{typeId}
		 	</if>
		 	<if test="releaseDateStr!=null and releaseDateStr!=''">
		 		and DATE_FORMAT(releaseDate,'%Y年%m月')=#{releaseDateStr}
		 	</if>
		 </where>
		 ORDER BY releaseDate DESC
		 <if test="start!=null and pageSize!=null">
		 	limit #{start},#{pageSize}
		 </if>
	</select>
	
	<select id="getTotal" parameterType="Map" resultType="Long">
		SELECT COUNT(*) FROM t_blog
		<where>
		 	<if test="title!=null and title!=''">
		 		and title like #{title}
		 	</if>
		 	<if test="typeId!=null and typeId!=''">
		 		and type_id=#{typeId}
		 	</if>
		 	<if test="releaseDateStr!=null and releaseDateStr!=''">
		 		and DATE_FORMAT(releaseDate,'%Y年%m月')=#{releaseDateStr}
		 	</if>
		 </where>
	</select>
	
	<select id="findById" parameterType="Integer" resultMap="BlogResult">
		SELECT * FROM t_blog WHERE id=#{id}
	</select>
	
	<update id="update" parameterType="Blog">
		update t_blog
		<set>
			<if test="title!=null and title!=''">
		 		title=#{title},
		 	</if>
		 	<if test="summary!=null and summary!=''">
		 		summary=#{summary},
		 	</if>
		 	<if test="content!=null and content!=''">
		 		content=#{content},
		 	</if>
		 	<if test="blogType.id!=null">
				type_id=#{blogType.id},
			</if>
			<if test="clickHit!=null">
				clickHit=#{clickHit},
			</if>
			<if test="replyHit!=null">
				replyHit=#{replyHit},
			</if>
			<if test="keyWord!=null and keyWord!=''">
		 		keyWord=#{keyWord},
		 	</if>
		</set>
		where id=#{id}
	</update>
	
	<select id="getPrevBlog" parameterType="Integer" resultMap="BlogResult">
		SELECT * FROM t_blog WHERE id&lt;#{id} ORDER BY id DESC LIMIT 1
	</select>
	
	<select id="getNextBlog" parameterType="Integer" resultMap="BlogResult">
		SELECT * FROM t_blog WHERE id&gt;#{id} ORDER BY id ASC LIMIT 1
	</select>

	<insert id="addBlog" parameterType="Blog" keyProperty="id" useGeneratedKeys="true">
		INSERT INTO t_blog VALUES(null,#{title},#{summary},now(),0,0,#{content},#{keyWord},#{blogType.id})
	</insert>
	
	<delete id="deleteBlog" parameterType="Integer">
		delete from t_blog where id=#{id}
	</delete>
	
	<select id="getBlogByTypeId" parameterType="Integer" resultType="Integer">
		select count(*) from t_blog where type_id=#{typeId}
	</select>

</mapper> 